<?xml version="1.0" encoding="UTF-8"?>
<plugin>

   <extension
         id="product"
         point="org.eclipse.core.runtime.products">
      <product
            name="com.purplescout.sdk"
            application="org.eclipse.e4.ui.workbench.swt.E4Application">
         <property
               name="clearPersistedState"
               value="true">
         </property>
         <property
               name="appName"
               value="com.purplescout.sdk">
         </property>
         <property
               name="cssTheme"
               value="com.purplescout.sdk.standardTheme">
         </property>
      </product>
   </extension>
   <extension
         point="org.eclipse.e4.ui.css.swt.theme">
      <theme
            basestylesheeturi="css/default.css"
            id="com.purplescout.sdk.standardTheme"
            label="standard">
      </theme>
      <theme
            basestylesheeturi="css/red.css"
            id="com.purplescout.sdk.themeRed"
            label="red">
      </theme>
   </extension>

</plugin>
